/* Style.css */

/* Căn lề và khoảng cách */
.add-product-container {
  margin-top: 20px;
}

.add-product-container form {
  margin-top: 10px;
}

.add-product-container form div {
  margin-bottom: 10px;
}

/* Style cho các phần tử */
.add-product-container label {
  display: block;
  font-weight: bold;
}

.add-product-container input[type="text"],
.add-product-container input[type="number"],
.add-product-container textarea {
  width: 400px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-product-container button[type="submit"] {
  width: 200px;
  padding: 5px 16px;
  background-color:rgb(61, 192, 215);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-container button[type="submit"]:hover {
  background-color: #45a049;
}

.add-product-container .form-group {
  display: flex;
  align-items: center;
}

.add-product-container .form-group label {
  margin-right: 10px;
}

.add-product-container .image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.add-product-container .image-preview .preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .add-product-container form {
    display: flex;
    flex-direction: column;
  }

  .add-product-container form div {
    margin-bottom: 20px;
  }
}